{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.json", "*.yaml", "*.yml"],
            "options": {
                "printWidth": 100,
                "tabWidth": 2
            }
        }
    ]
}
